<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!--
        See https://blog.oversecured.com/Common-mistakes-when-using-permissions-in-Android/
        regarding securing permissions.
    -->

    <permission
        android:name="com.termux.permission.TERMUX_INTERNAL"
        android:label="@string/permission_termux_internal_label"
        android:description="@string/permission_termux_internal_description"
        android:icon="@mipmap/ic_launcher"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- See https://developer.android.com/guide/components/foreground-services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.termux.permission.TERMUX_INTERNAL"/>

    <!-- See https://developer.android.com/about/versions/14/changes/partial-photo-video-access -->
    <!-- Devices running Android 12L (API level 32) or lower: -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Devices running Android 13 (API level 33) or higher:-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- To handle the reselection within the app on devices running Android 14
     or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:dataExtractionRules="@xml/backup"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup"
        android:banner="@mipmap/banner"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/application_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.TermuxActivity.DayNight.NoActionBar"
        tools:targetApi="tiramisu">

        <activity
            android:name=".app.TermuxActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/Theme.TermuxActivity.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity-alias
            android:name=".app.TermuxActivityInternal"
            android:targetActivity=".app.TermuxActivity"
            android:exported="true"
            android:permission="com.termux.permission.TERMUX_INTERNAL" />

        <activity
            android:name=".app.TermuxHelpActivity"
            android:exported="false"
            android:parentActivityName=".app.TermuxActivity"
            android:resizeableActivity="true" />

        <activity
            android:name=".app.TermuxFileReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:taskAffinity="com.termux.filereceiver" >
            <!-- Accept multiple file types when sending. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <!-- Accept multiple file types to let Termux be usable as generic file viewer. -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <provider
            android:name=".app.TermuxDocumentsProvider"
            android:authorities="com.termux.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name=".app.TermuxContentProvider"
            android:authorities="com.termux.files"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.termux.permission.TERMUX_INTERNAL" />

        <receiver
            android:name=".app.TermuxOpenReceiver"
            android:exported="false" />

        <service
            android:name=".app.TermuxService"
            android:foregroundServiceType="specialUse"
            android:exported="true"
            android:permission="com.termux.permission.TERMUX_INTERNAL">
            <!--
                About android:foregroundServiceType: Starting with Android 14 foreground
                services must define a service type. See:
                    https://developer.android.com/guide/components/fg-service-types
                Termux uses the "Special Use" type:
                    https://developer.android.com/guide/components/fg-service-types#special-use
            -->
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="As a Linux environment Termux needs to ensure that running tasks are not killed or paused while the app is in the background.
                For example, a user might start a web server that serves HTML pages and then interact with that from the browser app while the Termux
                app is in the background. If the system were to interrupt or defer the Termux app while it is in the background the user
                experience would be negatively affected since the above described use case would be broken." />
        </service>

        <!-- This (or rather, value 2.1 or higher) is needed to make the Samsung Galaxy S8 mark the
        app with "This app is optimized to run in full screen." -->
        <meta-data
            android:name="android.max_aspect"
            android:value="10.0" />

        <!-- https://developer.samsung.com/samsung-dex/modify-optimizing.html -->
        <!-- Version < 3.0. DeX Mode and Screen Mirroring support -->
        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true" />
        <!-- Version >= 3.0. DeX Dual Mode support -->
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

    </application>

</manifest>
